<template <%= tag_attributes(attrs) %>>
  <div data-controller="ruby-ui--alert-dialog">
    <div data-state="open" class="fixed inset-0 z-50 bg-black/80 backdrop-blur-sm data-[state=open]:animate-in" style="pointer-events:auto" data-aria-hidden="true" aria-hidden="true"></div>
    <div role="alertdialog" data-state="open" class="flex flex-col fixed left-[50%] top-[50%] z-50 w-full max-w-lg max-h-screen overflow-y-auto translate-x-[-50%] translate-y-[-50%] gap-4 border bg-background p-6 shadow-lg duration-200 data-[state=open]:animate-in data-[state=open]:fade-in-0 data-[state=open]:zoom-in-95 sm:rounded-lg md:w-full" style="pointer-events:auto">
      <%= yield %>
    </div>
  </div>
</template>
