<span <%= tag_attributes(attrs) %>>
  <% if block_given? %>
    <%= yield %>
  <% else %>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="size-4" aria-hidden="true">
      <path d="m6 9 6 6 6-6"/>
    </svg>
  <% end %>
</span>
