import { application } from "../../../app/javascript/controllers/application";

// Import all controller files
// import ComboboxController from "./combobox/combobox_controller";

// Register all controllers
// application.register("rbui--combobox", ComboboxController);

import RubyUI from "rbui-js";
RubyUI.initialize(application);
